configuration {
  width: 500;
  show-icons: false;
  terminal: "alacritty";
  auto-select: false;
  theme: "nord";
  display-run: " ";
  display-drun: "  ";
  display-window: "  ";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 11";
  modi: "window,run,drun";
}

@import "nord"
